.card {
    position: absolute;
    width: 80px;
    height: 115px;
    box-shadow: 2px 2px 3px 0px #00000022;
    border: 1px solid #ccc;
    border-radius: 5%;
    transition: 0.3s all;
}

.card-open {
    background-color: #efefef;
    font-size: 32px;
}

.card-closed {
    background-color: #c22;
    border: 1px solid #444;
}
