.playing-card {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
}

.card-red-suit {
    color: red;
}

.cardFaceHolder {
    transform-origin: 40px 0px;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position: relative;
}

.cardFace {
    position: absolute;
    width: 80px;
    height: 115px;
    border: 1px solid #ccc;
    border-radius: 5%;
    backface-visibility: hidden;
    box-shadow: 2px 2px 3px 0px #00000022;
    transition: box-shadow 0.2s;
}

.card-open {
    position: absolute;
    background-color: #efefef;
    line-height: 1;
    font-size: 48px;
    transform: rotateY(180deg);
}

.card-open-content {
    vertical-align: center;
}

.card-closed {
    background-color: #c22;
    border: 1px solid #444;
}

.cardFaceHolder.is-flipped {
    transform: rotateY(180deg);
}
