.deck {
    width: 80px;
    height: 115px;
    box-shadow: 2px 2px 8px 0px #00000088;
    border: 1px solid #444;
    border-radius: 5%;
    margin: 8px;
    flex-grow: 0;
}

.deck-col {
    flex-grow: 0 !important;
}

.deck-buttons {
    display: flex;
    align-items: center;
    justify-contents: center;
}

.deck-button-toolbar {
    flex-grow: 1;
    max-width: 100%;
}

.deck-button {
    margin: 5px;
    flex-grow: 1;
}

deck-button-toolbar {
    flex-grow: 1;
}

.inner-deck {
    height: 100%;
    width: 100%;
    color: #eee;
    font-size: 12px;
}

.inner-deck div {
    padding-top: 45px;
    text-align: center;
}


.custom-menu-btn-primary {
    font-weight: bold;
    font-size: 20px;
    color: #ddd;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    float: right;
}

.custom-menu-btn-primary:hover {
    color: #fff;
    background: none;
}

.custom-menu-btn-primary::after {
    display: none!important;
}
