$background-color: #2796ff;
$title-color: #fff;
$text-shadow-color: #888;
$shadow-color: #830;
$yellow-accent: #fff245;

.welcome-page {
    @font-face {
        font-family: Anton;
        src: url("/fonts/Anton-Regular.ttf");
    }

    @font-face {
        font-family: Lato;
        font-style: italic;
        src: url("/fonts/Lato-Italic.ttf");
    }

    background-image: linear-gradient($background-color, #eff);
    background-color: $background-color;

    width: 100%;
    min-height: 100vh;
    height: 100%;
    text-align: center;

    header {
        position: static;
        h1 {
            color: $title-color;
            padding-top: 1.3em;
            text-shadow:
            0 1px 0 $text-shadow-color,
            0 2px 0 $text-shadow-color,
            0 3px 0 $text-shadow-color,
            0 4px 0 $text-shadow-color,
            ;
            font-family: Anton; /*TODO: include font*/
            font-size: 480%;
            transition: all 0.2s;
            margin-bottom: -0.1em;
            z-index: 100;
            position: relative;
        }

        span {
            color: $yellow-accent;
            font-family: Lato;
            font-size: 200%;
            font-weight: bold;
            font-style: italic;
            z-index: 100;
            position: relative;
        }

        .header-background {
            opacity: 0.8;
            position: absolute;
            left: 0;
            top: 0.5em;
            text-align: center;
            width: 100%;

            img {
                width: 30em;
            }
        }

        min-height: 45%;
        padding-bottom: 2em;

    }

    $button-color: #f60;
    input[type="submit"] {
        background-color: $button-color;
        border: none;
        font-family: Anton;
        color: white;
        font-size: 240%;
        padding: 0.3em;
        box-shadow: 0 8px 0 0 $shadow-color;
        transition: 0.15s all;
        border-radius: 0.1em;

        &:hover {
            box-shadow: 0 6px 0 0 $shadow-color;
            transform: translateY(2px);
        }

        &:active {
            box-shadow: 0 1px 0 0 $shadow-color;
            transform: translateY(7px);
        }

    }

    main {


        margin: auto;
        padding-bottom: 7em;

        form {
            margin: 0;
            padding: 0;
        }

        input[type="text"] {
            font-family: Anton;
            font-size: 240%;
            color: #444;
            padding: 0.3em;
            padding-left: 0.5em;
            padding-right: 0.5em;
            border-radius: 0.1em;
            border: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            box-shadow: 0 8px 0 0 $shadow-color;
            width: 4em;
            text-transform: uppercase;

            background-color: #fff;

            &::placeholder {
                color: #888;
            }
        }

        .create-room {
            input[type="submit"] {
                font-size: 350%;
                box-shadow: 0 16px 0 0 #260;
                background-color: #8c0;
                margin-bottom: 32px;
                padding-left: 1em;
                padding-right: 1em;

                &:hover {
                    box-shadow: 0 12px 0 0 #260;
                    transform: translateY(4px);
                }

                &:active {
                    box-shadow: 0 1px 0 0 #260;
                    transform: translateY(15px);
                }
            }
            
        }

        .join-room {
            input[type="submit"] {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

            }
        }

        .or-message {
            font-family: Anton;
            font-size: 160%;
            color: #444;
            padding: 0;
            padding-left: 12px;

            display: flex;

            align-items: center;
            justify-content: center;

        }
    }    

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: #ffffff88;
        color: #444;
        padding: 0.8em;
        text-align: center;
        width: 100%;
    }

}