
body {
	background: url('/img/people-playing-cards.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.container {
	background-color: rgba(220,220,220,.8);
	width: 400px;
    top: calc(50vh - 200px);
    left: calc(50vw - 200px);
    position: absolute;
	padding: 25px 15px 35px 15px;
	border-radius: 5px;
    box-shadow: inset 0px 0 3px 2px rgba(110,110,110,.75);
}
.inner-container {
	align-items: baseline;
	flex-direction: column;
	display: flex;
	margin: 0 auto;
}
.divider {
	margin: 30px auto;
	font-style: italic;
}

